@import "pastanaga_variables";

:host {
    display: block;

    main {
        padding: rythm(2);
    }

    grange-breadcrumbs {
        background-color: $azure-light;
    }

    pa-sidebar {
        background-color: $white;
        h1 {
            padding: rythm(0.5);
            background: $azure-light;
        }
        .logout-button {
            position: absolute;
            bottom: 0;
        }
    }
}
