<div className="playground__body">
  <SlotFillProvider #reactNode>
    <DropZoneProvider>
      <BlockEditorProvider
        [value]="blocks"
        (onInput)="(updateBlocks)"
        (onChange)="(updateBlocks)"
      >
        <pa-sidebar name="editor" className="sidebar-right">
          <BlockInspector></BlockInspector>
        </pa-sidebar>
        <div className="editor-styles-wrapper">
          <BlockEditorKeyboardShortcuts></BlockEditorKeyboardShortcuts>
          <WritingFlow>
            <ObserveTyping>
              <BlockList></BlockList>
            </ObserveTyping>
          </WritingFlow>
        </div>
        <Popover.Slot></Popover.Slot>
      </BlockEditorProvider>
    </DropZoneProvider>
  </SlotFillProvider>
</div>
